/* GENERAL STYLING
--------------------------------------------------------*/

	body{
		margin: 0;
		padding: 0;
		width: 100%;
	}

	h1 { 
	    font-family:"Lato", sans-serif;
		font-size: 24px;
		font-weight: 500;
		text-align: center;
		color: black;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		line-height: 26px;
	}

	h2 {
	    font-family:"Lato", sans-serif;
	   	font-size: 18px;
	   	text-align: center;
	   	font-weight: 500;
	   	color: black;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		line-height: 20px;
	}

	h3 {
	   font-family: Oswald;
	   font-weight: normal;
	   font-size: 16px;
	   text-align: center;
	   margin: 5px 0;
		padding: 0;
		z-index: 1;
		position: relative;
	}


	.space-for-ad {
		margin-right: 120px;
	}

	.center {
		margin: 0 auto;
	}
	.content{
	}

	.clear {
		clear: both;
	}

	.hidden {
		visibility: hidden;
	}

	.no-padding {
		padding: 0 !important;
		margin: 0 !important;
	  [class*="col-"] {
	    padding-left: 0 !important;
	    padding-right: 0 !important;
	  }
	}


/* HEADER & NAVIGATION */

	#header { 
		width: 100%; 
	   	background: rgb(200, 192, 183); /* The Fallback */
	   	background: rgba(197, 207, 217, .95); 
	   	height: 80px; 	
		position: fixed;
		z-index: 5;
	}

	#nav {
		width: 100%;
		margin-top: 0px;
		text-align: center;
	}

	#nav ul{
		list-style: none;
	}

	#nav li{
		display: inline-block;
		padding-right: 20px;
		text-align: center;
	}

	#nav li a {
		color: rgb(17, 63, 110);
		opacity:0.6;
		font-size: 20px;
		text-decoration: none;
		font-family: 'Lato', sans-serif;
		outline: 0;
	}

	#nav li a:hover {
		color: rgb(17, 63, 110);
		opacity:1;
	}

/* AD */
	#ad {
		width: 120px;
		height: 600px;
		background: url('../img/thai_market_ad.png') ;
		background-size: 100%;
		top: 120%;
		right: 0;
		position: absolute;
		z-index:2;
	}


/* GENERAL STYLING */


	.slide-title {
		font-family:"Lato", sans-serif;
		font-weight: 700;
		font-size: 40px;
		text-align: center;
		width: 100%;
		border-top: solid 2px gray;
		border-bottom: solid 2px gray;
		margin: -1px 0px 10px 0px;
	}

	.two-line-text {
		margin: 0;
	}

	.checkerboard {
		text-align: center;
	}

	/*inline block has default 4px margin between elements (so margin-right set at 6 to equal checkerboard's 10px padding*/

	.orientation-button {
		border:0;
		display:inline-block;
		cursor:pointer;
		background-color: rgb(127, 167, 197);
		background-color: rgba(127, 167, 197, .95);
		font-family:"Lato", sans-serif;
		font-size:17px;
		text-decoration:none;
		outline: 0;
		margin-right: 6px;
		margin-bottom: 10px;
		width: 175px;
		height: 50px;
		vertical-align: middle;
		position: relative;
		white-space: normal !important;
	}

	.resource {
		height: 75px !important;
	}

	.orientation-button:hover {
		background-color:transparent;
		background-color: rgba(97, 137, 167, .95);
		outline: 0;
	}

	.orientation-button.active {
		background-color: rgba(47, 87, 117, .95);
	}

	.vertical-center-content {
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
		margin: auto;
		text-align:center;
		width:100%;
		display:table;
	}

	.bold {
		font-weight: 900;
	}


/* SLIDESHOW STYLING */
	.slideshow-wrapper {
	  width: 100%;
	  height: 300px;
	  color: #888;
	  font: 14px/20px Helvetica, Arial, sans-serif;
	  margin: 20px auto 0;
	  max-width: 800px;
	  text-align: center;
	  text-shadow: 0 -2px 1px #000;
	}

	#wrapper {
	  padding: 20px;
	  }

	.rslides {
	  margin: 0 auto 40px;
	  }


	/* Callback example */

	.events {
	  list-style: none;
	  }

	.callbacks_container {
		margin-bottom: 50px;
		position: relative;
		float: left;
		width: 100%;
		height: auto;
	  }

	.callbacks {
	  position: relative;
	  list-style: none;
	  width: 100%;
	  padding: 0;
	  margin: 0;
	  }

	.callbacks li {
	  position: absolute;
	  width: 100%;
	  left: 0;
	  top: 0;
	  }

	  #ss-traditions li {
	  	height: 400px;
	  }

	.callbacks img {
	  display: block;
	  position: relative;
	  z-index: 1;
	  width: 100%;
	  max-height: 100%;
	  border: 0;
	}

	.callbacks .caption {
		display: block;
		position: absolute;
		font-family: "Lato", sans-serif;
		z-index: 2;
		font-size:15px;
		text-shadow: none;
		color: #fff;
		left: 0;
		right: 0;
		top: 95%;
		padding: 10px 20px;
		max-width: none;
	}

	.callbacks .caption a{
		color:#C4D8E2;
	}

	.callbacks .caption a:hover{
		color:#C4D8E2;
	}

	.callbacks_nav {
		  z-index: 3;
		  position: absolute;
		  -webkit-tap-highlight-color: rgba(0,0,0,0);
		  opacity: 0.6;
		  text-indent: -9999px;
		  top: 0;
		  bottom: 0;
		  left: 0;
		  background: #000 url("../img/themes.gif") no-repeat left 50%;
		  width: 38px;
	}

	.callbacks_nav:active {
	  opacity: 1.0;
	  }

	.callbacks_nav.next {
	  left: auto;
	  background-position: right 50%;
	  right: 0;
	  }

	.newsletter-signup{
	border:0;
	display:inline-block;
	cursor:pointer;
	background-color: rgb(127, 167, 197);
	background-color: rgba(0, 0, , .5);
	font-family:"Lato", sans-serif;
	font-size:17px;
	padding:12px 31px;
	min-width: 175px;
	text-decoration:none;
	outline: 0;
	margin-right: 6px;
	float: none;
    margin: 0 auto;
	  margin-top: 50px;
	  color:white ;
	}

	.newsletter-signup:hover {
	background-color:transparent;
	background-color: rgba(97, 137, 167, .95);
	outline: 0;
	}

	.newsletter-signup.active {
		background-color: rgba(47, 87, 117, .95);
	}
	.get-started{
	border:0;
	display:inline-block;
	cursor:pointer;
	background-color: rgb(127, 167, 197);
	background-color: rgba(200, 200, 200, .6);
	font-family:"Lato", sans-serif;
	font-size:17px;
	padding:12px 31px;
	min-width: 175px;
	text-decoration:none;
	outline: 0;
	margin-right: 6px;
	float: none;
    margin: 0 auto;
   	margin-top: 50px;
   	color:white;
	}

	.get-started:hover {
	background-color:transparent;
	background-color: rgba(97, 137, 167, .95);
	outline: 0;
	}

	.get-started.active {
		background-color: rgba(47, 87, 117, .95);
	}

	.get {
		color: white;
	}
	.get:hover{
		color: white;
		text-decoration: none;
	}
	.get:visited{
		color: white;
		text-decoration: none;
	}
	@media screen and (max-width: 600px) {
	  .callbacks_nav {
	    top: 47%;
	    }
	  }


/* FIRST SLIDE STYLING (PLAIN IMAGE/WELCOME MESSAGE)*/
	#welcome{
		background:url('../img/nsopcover2.jpg') 50% 80% no-repeat;
		color: #fff;
		margin: 0;
		padding: 200px 0 260px 0;
		background-size: cover;
		width: 100%;
	}
	#orientation-2015{
		margin-top: -100px;
		text-align: center;
		position: relative;
		height: 100vh;
		width: 100%;
	}
	#orientation-title {
		display: block;
		font-family: "Lato", sans-serif;
		font-weight: 700;
		line-height: 150px;
		position: static;
		right: 0;
		margin-left: 150px;
	}
	#orientation-logo-box {
		height: 150px;
		width: 80%;
		display: block;
		position: relative;
		margin: 0 auto;
	}

	.product-suite {
		padding: 50px 50px;
		background-color: rgba(255,255,255,.5);
		border-radius: 5px;
	}

	.product-suite-img{
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 375px;
		width: 570px;

	}

	@media(min-width: 1200px) {
		#orientation-title {
			font-size: 100px;
		}
	}
	@media(max-width: 1199px) {
		#orientation-title {
			font-size: 75px;
		}
	}
	#welcome-title {
		font-size: 36px;
		text-align: center;
		font-weight: bold;
	}

	#welcome-message{
		width: 70%;
		margin: 0 auto;
		padding: 30px 40px;
	   	background: rgb(200, 200, 200); /* The Fallback */
		background: rgba(0, 0, 0, .5);
	    border-radius: 5px;
	    font-size: 18px;
	    line-height: 20px;
		color: white; 
		font-family: "Lato", sans-serif;
	}

	#emphasis {
		font-weight: 700px;
		font-size: 22px;
		line-height:48px;
	}
	#welcome-text{
		text-align: justify;
	}
	.welcome-b{
		background: rgb(200, 200, 200); /* The Fallback */
		background: rgba(0, 0, 0, .5);
		color: white;
	}


/* SECOND SLIDE STYLING */
	#dates-to-remember {
		text-align: left;
		font-family: "Lato", sans-serif;
		font-size: 14px;
		display: block;
	}

	#course-registration{
		width: 100%;
		background-color: #fff;
		color: #333333;
		margin: 0 auto;
		overflow: hidden;
		padding: 80px 0 80px 0;
	}

	.course-box {
		border: 0;
		overflow: hidden;
		white-space: normal;
		height: 150px;
		width: 100%;
		margin: 20px 0px 0px 20px;
		outline: 0;
		background-color: rgba(197, 207, 217, .95);
		padding: 0px 0px 0px 0px;
	}

	.course-box:hover {
		background-color: rgba(127, 167, 197, .95);
	}

	.course-box > img {
		width: 30%;
		height: 100%;
		float:left;
	}

	.course-box-text{
		width: 70%;
		float: right;
	}

	.course-box-text > h1 {
		line-height: 22px;
		color: black;
		font-size: 22px;
	}

	.course-box-text > h2 {
		line-height: 20px;
		color: black;
		font-size: 16px;
	}

	#course-registration li {
		line-height: 18px;
		color: black;
		font-size: 16px;
	   	font-family:"Lato", sans-serif;
	   	font-weight: 500;
	}

	.hidden{
		visibility: none;
	}


/* THIRD SLIDE STYLING */
	#food{
		background-color: black; /* fallback */
	   	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
	   				url('../img/nsopcover2.jpg') 50% 0 no-repeat fixed;
		color: #fff;
		padding: 80px 0 80px 0;
		height: auto;
		background-size: cover;
	}

	#food h1, #food h2 {
		color: white;
	}

	#food-container{
		margin: 25px auto;
		width: 75%;
	}

	.food-map-container {
		width: 26vw;
		height: 39vw;
		display: block;
		margin: 3vw auto 3vw auto;
		position: relative;
	}

	#food-map {
		width: 100%;
		height: 100%;
	}

	#flat-top {
		top: 15%;
		right: 38%;
	}

	#the-heights {
		left: 38%;
		top: 50%;
	}

	#the-dam {
		bottom: 41%;
		right: 42%;
	}
	#massawa {
		top: 18%;
		right: 43%;
	}
	#broadwayaulait {
		top:15%;
		left:42%;
	}
	#mill-korean {
		left: 38%;
		top:46%;
	}
	#max-caffe {
		top:11%;
		right:43%;
	}
	#bar-1020 {
		bottom: 45%;
		right:42%;
	}
	#broadway-dive {
		left: 40%;
		bottom: 13%;
	}

	#marcha-cocina {
		top:3%;
		left:34%;
	}

	#dino-bbq {
		left:32%;
		top:22%;
	}

	#dead-poet {
		left:36.5%;
		top:42%;
	}

	#barcibo-enoteca {
		left:36.5%;
		top:48%;
	}

	#ippudo-westside {
		top: 57%;
		left:39%;
	}

	#pizza-suprema {
		top: 68%;
		left:39%;
	}

	#smithfield {
		top: 70%;
		left:44%;
	}

	#bungas-den {
		top: 76%;
		left:42%;
	}

	#greenwich-treehouse {
		top: 80%;
		left:45%;
	}

	#bar-veloce {
		top: 84%;
		left: 45%;
	}

	#lukes-lobster {
		top: 95%;
		left: 51%;
	}

	#bills-place {
		top: 18%;
		left: 46%;
	}

	#bathtub-gin {
		top: 74%;
		left:38%;
	}

	#the-garret {
		top: 80%;
		left:40.5%;
	}

	#thirteenth-step {
		top: 75%;
		left: 55%;
	}

	.restaurant-button {
		position: absolute;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background-color: black;
	}

	.restaurant-button:hover {
		background-color: rgb(97, 137, 167);
		cursor: pointer;
	;
	}

	#restaurant-description {
		padding: 3px 20px 15px 20px;
		width: 100%;
		margin-top: 20px;
		border-radius: 5px;
		font-family: 'Lato', sans-serif;
		background: rgb(200,200,200);
		background: rgba(200,200,200,.5);
		/*background: linear-gradient(rgba(200, 200, 200, 0.8), rgba(200, 200, 200, 0));*/
	}

	.eat-cheap-blurb {
		margin-bottom: -5px;
		font-family: "Lato", sans-serif;
	}

	.eat-cheap-blurb h1 {
		font-size: 20px;
		line-height: 10px;
	}

	.eat-cheap-blurb h2 {
		font-size: 16px;
		text-align: left;
	}

	.eat-rewards{
		text-align: justify;
	}

	.eat-cheap{
		text-align: justify;
	}

	.mels-description{
		text-align: justify;
	}


/* FOURTH SLIDE STYLING */

	#subway {
		background-color: #fff;
		color: black;
		padding: 80px 0 80px 0;
	}

	#subway h1, #subway h2 {
		color: black;
	}

	#subway-line {
		width: 100%;
		height: 25px;
		margin: 80px auto 10px auto;
		padding: 0 0;
		border-radius: 20px;
		background-color: black;
		position: relative;
		min-width: 450px;
	}

	#subway-stops-container {
		position: absolute;
		left: 5px;
		right: 5px;
		top: 3px;
		bottom: 10px;
	    white-space: nowrap;
	}

	.subway-stop {
		width: 3%;
		height: 17px;
		border-radius: 50%;
		color: white;
		margin-right: 6%;
		background-color:white;
		border: 0;
		cursor:pointer;
		outline: 0;
		position: relative;
	}

	.subway-stop:hover {
		background-color: red;
	}

	.subway-stop.active {
		background-color: red;
	}

	#train-name {
	    border-style: solid;
	    border-width: 1px;
	    border-color: red;
	    color: white;
	    background-color: red;
	    width: 50px;
	    height: 50px;
	    text-align:center;
	    line-height:45px;
	    border-radius: 50%;
	    font-size: 36px;
	    display: inline-block;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		margin-bottom: 15px;
	}

	/*fix for firefox's different absolute positioning*/
	@-moz-document url-prefix() { 
		#subway-stops-container {
			position: absolute;
			left: 5px;
			right: 5px;
			top: -3px;
			bottom: 10px;
		}
	}

	#subway-stop-map {
		width: 85%;
		height: auto;
		display: block;
		margin: 0 auto;
	}

	.subway-label{
		color:black;
	    position: absolute;
	    -ms-transform: rotate(-55deg); /* IE 9 */
	    -webkit-transform: rotate(-55deg); /* Chrome, Safari, Opera */
	    transform: rotate(-55deg);
	    /* same as margin btw stop circles */
	    bottom: 300%;
	    left: 0px;
	    white-space: nowrap;
	    font-size: 16px;
	}

	#subway-area-site {
		width: 90%;
		display: block;
		height: 500px;
		margin: 20px auto 10px auto;
		background: rgb(200,200,200);
	}


/* FIFTH SLIDE STYLING */

	#traditions{
	   	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
	   				url('../img/nsopcover2.jpg') 50% 0 no-repeat fixed;
		margin: 0 auto;
		padding: 80px 0 80px 0;
		color: #fff;
		min-height: 850px;
		background-size: cover;
	}

	#traditions-container {
		height: 500px;
		overflow:hidden;
		overflow-y:scroll;
		border: solid 1px white;
		border-radius: 5px;
		padding: 10px 10px;
		background-color: rgba(200,200,200,.25);
	}

	.tradition {
		border: solid 1px;
		border-color: transparent;
		position: relative;
		width: 100%;
		height: auto;
		padding: 5px 0;
		margin: 5px 0;
	}

	.tradition.completed {
	   	/*background: rgba(196, 216, 226, 0.5); */
	   	background: rgba(0, 216, 20, 0.5);
	   	border-color: white;
	   	border-radius: 20px;
	}

	.tradition:hover {
		cursor: pointer;
	}

	.trad-number {
		display: inline-block;
	    border-style: solid;
	    border-width: 1px;
	    color: white;
	    background-color: #C4D8E2;
	    width: 50px;
	    height: 50px;
	    text-align:center;
	    line-height:45px;
	    border-radius: 50%;
	    font-size: 28px;
	    display: inline-block;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		margin-bottom: 15px;
	}

	/*.completed > .trad-number{
		color: white;
		background-color: green
	}*/

	.trad-descip {
		font-family:"Lato", sans-serif;
	   	font-size: 16px;
	   	text-align: left;
	   	font-weight: 500;
	   	color: white;
		line-height: 18px;
		display: inline-block;
		width: 75%;
		margin-top: -5px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		vertical-align: middle;
	}

	.trad-descip a{
		color:#C4D8E2;
	}

	.trad-descip a:hover{
		color:#C4D8E2;
	}

	#tradition-count {
		margin: 15px 0;
		font-size: 62px;
		color: #C4D8E2;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}


/* SIXTH SLIDE STYLING */
	#resources {
		background-color: #fff;
		color: black;
		padding: 80px 0 80px 0;
	}

	#resources h1, #resources h2 {
		color: black;
	}

	.resources-instructions{
		margin-top: -1px;
		margin-bottom: -1px;
	}

	.resource-image {
		width: 25vw;
		height: 16vw;
		display: block;
		margin: 0 auto;
	} 

	#resource-longform-description > div > ul  {
		list-style: none;
		font-size: 18px;
		font-family: "Lato", sans-serif;
	}
	#resource-longform-description > div  {
		list-style: none;
		font-size: 18px;
	}



/* SEVENTH SLIDE STYLING */
	#groups{
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		   				url('../img/nsopcover2.jpg') 50% 0 no-repeat fixed;
		margin: 0 auto;
		padding: 80px 0 80px 0;
		color: #fff;
		height: auto;
		background-size: cover;
	}

	#groups-to-fill >div> ul {
		list-style: none;
		font-size: 24px;
		font-weight: 700;
		font-family: "Lato", sans-serif;
	}

	#groups-to-fill > div > ul > ul {
		font-size: 16px;
		font-weight: 500;
		font-family: "Lato", sans-serif;
	}

	#groups-to-fill > div > ul > ul {
		font-size: 16px;
		font-weight: 500;
		font-family: "Lato", sans-serif;
	}

	#groups-to-fill > div a {
		color: white;
		text-decoration: underline;
	}

	.subcategories {
		height: 270px;
		overflow:hidden;
		overflow-y:scroll;
		width: 100%;
		list-style: none;
		border: solid 1px white;
		margin-top: -10px;
	  	margin:0;
	  	padding: 0;
		background-color: rgba(200,200,200,.25);
	}

	.subcategories > li {
		margin: 10px 0 0 0;
	}

	.subcategory-button {
		width: 80%; 
		display:block;
		margin: 0 auto;
		cursor:pointer;
		color:#ffffff;
		font-family:"Lato", sans-serif;
		font-size:17px;
		padding:6px 0px;
		text-decoration:none;
		outline: 0;
		border: 0;
		background-color: rgb(127, 167, 197);
		background-color: rgba(127, 167, 197, .95);
	}

	.subcategory-button:hover {
		background-color:transparent;
		background-color: rgba(97, 137, 167, .95);
		outline: 0;
	}

	.subcategory-button.active {
		background-color: rgba(47, 87, 117, .95);
	}

	.groups-description {
		height: 615px;
		width: 90%;
		margin: 20px auto;
		background: #AAA;
		background: linear-gradient(rgba(200, 200, 200, .75), rgba(200, 200, 200, 0));
		border-radius: 5px;
		padding: 5px 15px;
		overflow:hidden;
		overflow-y:scroll;
	}

	#subcategory-img {
		/*background: url('http://columbiaspectator.com/sites/default/files/Holi.jpg') 50% 0;
		width: 50%;
		height: 200px;
		margin: 0 auto;*/
	}

	#longform-descriptions h2, #resource-longform-description h2 {
		font-size: 14px;
		text-align: left;
	}


/* EIGHTH and TENTH SLIDE STYLING */
	#stories, #spaces {
		background-color: #fff;
		color: black;
		padding: 80px 0 80px 0;
		height: auto;
	}

	#stories h1, #stories h2, #spaces h1, #spaces h2 {
		color: black;
	}

	#stories img, #spaces img {
		width: 100%;
		opacity: .5;
	}

	#stories img:hover, #spaces img:hover {
		opacity: .2;
		cursor: pointer;
	}
	.subtitle-image-text {
		color: white;
		font-family: "Lato", sans-serif;
		font-size: 18px;
		position: absolute;
		pointer-events:none;
		z-index: 1;
		top: 0; left: 0; bottom: 0; right: 0;
		margin: auto;
		text-align:center;
		width:100%;
		display:table;
		visibility: hidden;
	}
	#stories img:hover + div > .image-text{
		visibility: hidden;
	}
	#stories img:hover + div > .subtitle-image-text {
		visibility: visible;
	}

	#stories img:active, #spaces img:active {
		opacity: .2;
	}

	.image-text-container {
		width: 95%;
		height: 26vh;
		margin-left: 20px;
		margin-bottom: 20px;
		overflow: hidden;
		text-align: center;
		background-color: black;
		position: relative;
	}

	.image-text {
		color: white;
		font-family: "Lato", sans-serif;
		font-size: 28px;
		position: absolute;
		pointer-events:none;
		z-index: 1;
		top: 0; left: 0; bottom: 0; right: 0;
		margin: auto;
		text-align:center;
		width:100%;
		display:table;
	}


/* NINTH SLIDE STYLING */
	#who{
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		   				url('../img/nsopcover2.jpg') 50% 0 no-repeat fixed;
		margin: 0 auto;
		padding: 80px 0 80px 0;
		color: #fff;
		height: 800px;
		background-size: cover;
	}

	.coming-soon {
		line-height: 600px;
		text-align: center;
		font-size: 80px;
	}

	#hierarchy-description-bg {
		padding: 3px 20px 15px 20px;
		width: 100%;
		min-height: 600px;
		display: block;
		margin: 20px auto 0 -20px;
		border-radius: 5px;
		background: rgb(200,200,200);
		background: rgba(200,200,200,.5);
		background: linear-gradient(rgba(200, 200, 200, 0.8), rgba(200, 200, 200, 0));
	}

	#hierarchy-description-text {
		margin-top: 10px;
		text-align: left;
		font-family: "Lato", sans-serif;
		font-size: 16px;
		line-height: 19px;
	}

	#hierarchy-image-credit {
		text-align: right;
		font-size: 11px;
		color: white;
		font-family: "Lato", sans-serif;
	}

	/*FAMILY TREE styling (from http://thecodeplayer.com/walkthrough/css3-family-tree)*/

	.chart_container { float: left; width: 950px; }
		.tree * {
			margin: 0; padding: 0;
		}

		.tree {
			width:950px;
		}

		.tree ul {
			padding-top: 20px;
			position: relative;
		}

		.tree li {
			float: left;
			text-align: center;
			list-style-type: none;
			position: relative;
			padding: 20px 5px 0 5px;
		}

		/*We will use ::before and ::after to draw the connectors*/

		.tree li::before, .tree li::after{
			content: '';
			position: absolute;
			top: 0; 
			right: 50%;
			border-top: 1px solid #ccc;
			width: 50%;
			height: 20px;
		}
		.tree li::after{
			right: auto;
			left: 50%;
			border-left: 1px solid #ccc;
		}

		/*We need to remove left-right connectors from elements without 
		any siblings*/
		.tree li:only-child::after, .tree li:only-child::before {
			display: none;
		}

		/*Remove space from the top of single children*/
		.tree li:only-child{
			padding-top: 0;
		}

		/*Remove left connector from first child and 
		right connector from last child*/
		.tree li:first-child::before, .tree li:last-child::after{
			border: 0 none;
		}
		/*Adding back the vertical connector to the last nodes*/
		.tree li:last-child::before{
			border-right: 1px solid #ccc;
			border-radius: 0 5px 0 0;
		}
		.tree li:first-child::after{
			border-radius: 5px 0 0 0;
		}

		/*Time to add downward connectors from parents*/
		.tree ul ul::before{
			content: '';
			position: absolute; top: 0; left: 50%;
			border-left: 1px solid #ccc;
			width: 0;
			height: 20px;
		}

		.tree li a{
			border: 0;
			padding: 5px 3px;
			text-decoration: none;
			background-color: rgb(127, 167, 197);
			background-color: rgba(127, 167, 197, .95);
			color: white;
			font-family: "Lato", sans-serif;
			display: inline-block;
			cursor: pointer;
		}

		@media(min-width: 800px) {
		.tree li a{
				font-size: 12px;
				width: 80px;
			}
			.hierarchy-position {
				font-size: 10px;
			}
		}
		@media(min-width: 1000px) {
		.tree li a{
				font-size: 14px;
				width: 100px;
			}
			.hierarchy-position {
				font-size: 12px;
			}
		}
		@media(min-width: 1400px) {
		.tree li a{
				font-size: 16px;
				width: 120px;
			}
			.hierarchy-position {
				font-size: 14px;
			}
		}



		/*Time for some hover effects*/
		.tree li a:hover {
			background-color:transparent;
			background-color: rgba(97, 137, 167, .95);
			outline: 0;
		}


/* MODAL STYLING  */

	.modal.wide {
		width: 100%;
	}

	.modal-header > h1,.modal-header > h2{
		text-align: left;
		color: black;
	}

	.modal h3 {
		font-family:"Lato", sans-serif;
		text-align: left;
		font-size: 16px;
		color: black;
	}

	.modal-header.dotted-bottom {
		border-bottom: solid 2px gray;
	}

	.modal-footer.dotted-top {
		border-top: solid 2px gray;
	}

	.modal-bodytext-container {
		overflow:hidden;
		overflow-y:scroll;
		max-height: 600px;
	}

	.modal-h1 {
		font-family:"Lato", sans-serif;
		text-align: center;
		font-size: 22px;
		line-height: 24px;
		color: black;
	}

	.modal-h2 {
		font-family:"Lato", sans-serif;
		text-align: center;
		font-size: 16px;
		color: black;
	}

	.modal-percent {
		font-family:"Lato", sans-serif;
		text-align: center;
		font-size: 42px;
		color: purple;
		line-height: 44px;
		margin-bottom: -5px;
	}

	.modal-container {
		width: 100%;
		text-align: center;
		margin-top: 5px;
	}

	.left {
		text-align: left;
	}


